
a, div, span, h1, p, li, input, input::placeholder, textarea, textarea::placeholder {
    font-family: 'Roboto', sans-serif;
}
a, div, span, h1, li {
    word-wrap: break-word;
}

body {
    background: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}
.top {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.top h1 {
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFF;
}
#app {
    position: relative;
    overflow-x: hidden;
}
#quizzes-list {
    overflow-x: hidden;
    padding: 100px 18px 30px;
    overscroll-behavior: contain;
}
.start-quizz {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}
.start-quizz p {
    width: 75%;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    word-break: break-word;
}
.start-quizz button {
    width: 150px;
    height: 40px;
    background: #FFF;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}
.your-quizzes, .all-quizzes {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}
.your-quizzes div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.your-quizzes ion-icon {
    font-size: 32px;
    color: #EC362D;
}
.title {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    width: 100%;
}
.quizz {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.quizz.just-created{
    height: auto;
}
.quizz img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.quizz .edit-delete {
    position: absolute;
    right: 0;
    top: 10px;
    width: 45px;
    height: 85px;
    background-color: #EC362D;
    flex-direction: column;
    border-radius: 10px 0px 0px 11px;
}
.edit-delete .edit, .edit-delete .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}
.quizz .edit-delete ion-icon {
    text-align: center;
    font-size: 24px;
    color: #FFF;
}
#gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}
.quizz .quizz-title {
    margin:0px 15px 20px;
    font-size: 19px;
    line-height: 22px;
    color: #FFF;
}
#inside-quizz {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0px;
    padding-top: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FAFAFA;
    transition: .5s;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;

}
#inside-quizz .quizz-title {
    position: relative;
    width: 100%;
    height: 142px;
    margin-bottom: 24px;
    flex-shrink: 0;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#inside-quizz .quizz-title div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 19px;
    color: #FFFFFF;
    background-color: rgb(0, 0, 0, .6);
}
#inside-quizz .question-box{
    background-color: #FFFFFF;
    width: 100%;
    padding: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 28px;
}
#inside-quizz .question-box .question{
    padding: 20px 16px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
#inside-quizz .options{
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    justify-content: space-between;
    padding-top: 10px;
}
#inside-quizz .option{
    width: 44vw;
}
#inside-quizz .options.not-clicked{
    color: #000000;
}
#inside-quizz .options:not(.not-clicked) .option.wrong{
    color: #FF4B4B;
    opacity: 0.3;
}
#inside-quizz .options:not(.not-clicked) .option.right{
    color: #009C22;
    opacity: 0.3;
}
#inside-quizz .options:not(.not-clicked) .option.clicked{
    opacity: 1;
}
#inside-quizz .option .image{
    width: 100%;
    height: calc(45vw * .6);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#inside-quizz .option p{
    margin: 5px 0px 12px 0px;
    font-size: 13px;
}
#inside-quizz .level{
    background-color: #FFFFFF; 
    padding: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    font-size: 17px;
    margin-bottom: 34px;
}
#inside-quizz .level div{
    background-color: #EC362D;
    padding: 22px 16px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
#inside-quizz .level img{
    width: 100%;
    margin: 9px 0px;
}
.red-button, .back-home {
    border: none;
    font-size: 18px;
    padding: 0px 20px;
    min-width: 220px;
    min-height: 54px;
}
button.red-button{
    background-color: #EC362D;
    border-radius: 15px;
    color: #FFF5F4;
}
button.back-home{
    color: #818181;
    background-color: #FAFAFA;

}

#basic-info-screen,
#quizz-questions-screen,
#quizz-levels-screen,
#quizz-success-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0px;
    padding-top: 70px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FAFAFA;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
}
.bottom-padding{
    height: 20px;
}
#basic-info-screen > *,
#quizz-questions-screen > *,
#quizz-levels-screen > *,
#quizz-success-screen > * {
    flex-shrink: 0;
    max-width: 600px;
}
#quizz-success-screen .quizz{
    margin-bottom: 25px;
}
#loading-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding-top: 70px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #FAFAFA;
    overscroll-behavior: contain;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .4s;
    color: #EC362D;
    font-size: 25px;
    display: flex;
    opacity: 1;
}

.head {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.warning {
    display: none;
    font-size: 16px;
    color: #EC362D;
    margin-top: 5px;
    margin-left: 1px;
}
.warning.error {
    display: inline;
}
.quizz-info {
    width: 100%;
    max-height: 62px;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 10px 16px 20px;
    margin-bottom: 25px;
    border-bottom: solid 15px #FFFFFF;
}
.icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon ion-icon {
    font-size: 24px;
    color: #000;
}
.quizz-info.selected {
    max-height: 1000px;
    border-bottom: 0px;
}
.quizz-info.selected ion-icon {
    color: transparent;
}
.quizz-info .title {
    margin: 10px 0px;
}
input {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 0px 15px;
    font-size: 19px;
    vertical-align: middle; 
}
input.error {
    background-color: #FFE9E9;
}
textarea.error {
    background-color: #FFE9E9;
}
textarea {
    margin: 10px 0px;
    width: 100%;
    height: 180px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 0px 15px;
    font-size: 19px;
    word-break: normal;
}
input::placeholder {
    font-style: italic;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    vertical-align: middle; 
}
textarea::placeholder {
    font-style: italic;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    vertical-align: middle; 
}
.hidden {
    display: none;
}

@media (min-width:1100px){
    body {
        width: 1110px;
        margin: auto;
    }
    .quizz {
        width: 341px;
        height: 181px;
    }
    .quizz.just-created{
        width: 100%;
        height: auto;
    }
    .your-quizzes div {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .your-quizzes, .all-quizzes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 0px;
    }
    #inside-quizz .quizz-title {
        height: 227px;
    }
    #inside-quizz .quizz-title div{
        font-size: 39px;
    }
    #inside-quizz .question-box{
        width: 759px;
        height: 676px;
    }
    #inside-quizz .question-box .question{
        height: 138px;
        font-size: 23px;
    }
    #inside-quizz .option{
        width: 49%;
    }
    #inside-quizz .option p{
        font-size: 20px;
    }
    #inside-quizz .option .image{
        height: 175px;
    }
    #inside-quizz .level{
        width: 759px;
        font-size: 19px;
    }
    #inside-quizz .level div{
        font-size: 23px;
        margin-bottom: 9px
    }
    #inside-quizz .level img{
        float: left;
        width: 364px;
        margin: 0px 20px 0px 0px;

    }
    #inside-quizz .level span{
        word-break: normal;
    }

}